<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="table-responsive">
		<table class="table table-bordered table-enrgy">
			<thead>
				<tr>
					<th>Hôm nay (Wh)</th>
					<th>Tổng (kWh)</th>
					<th>Quý (kWh)</th>
					<th>Tuần (kWh)</th>
					<th>Tháng (kWh)</th>
					<th>Năm (kWh)</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%- energy[0] %></td>
					<td><%- energy[1] %></td>
					<td><%- energy[2] %></td>
					<td><%- energy[3] %></td>
					<td><%- energy[4] %></td>
					<td><%- energy[5] %></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>